docs/s3db.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">	<xs:element name="NOTES">		<xs:simpleType>			<xs:restriction base="xs:string"></xs:restriction>					</xs:simpleType>	</xs:element>	<xs:element name="PROJECT">		<xs:complexType>			<xs:sequence>				<xs:element name="NAME" type="xs:string"/>				<xs:element name="DESCRIPTION" type="xs:string"/>				<xs:element name="TOTAL_RESOURCES" type="xs:string"/>				<xs:element name="RESOURCE" maxOccurs="unbounded">					<xs:complexType>						<xs:sequence>							<xs:element name="ENTITY">								<xs:simpleType>									<xs:restriction base="xs:string"></xs:restriction>								</xs:simpleType>							</xs:element>							<xs:element ref="NOTES"/>							<xs:element name="TOTAL_RULES" type="xs:string"/>							<xs:element name="RULE" maxOccurs="unbounded">								<xs:complexType>									<xs:sequence>										<xs:element ref="NOTES"/>										<xs:element name="VALIDATION">											<xs:complexType/>										</xs:element>										<xs:element name="VERB">											<xs:simpleType>												<xs:restriction base="xs:string">													</xs:restriction>											</xs:simpleType>										</xs:element>										<xs:element name="OBJECT" type="xs:string"/>									</xs:sequence>								</xs:complexType>							</xs:element>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>